@import "./variables.scss";


.title_apartment {
  color: $bnb-dark;

  h1 {
    font-weight: bolder;
  }
}

.img_apartment {
  .card_shadow {
    box-shadow: 1px 3px 8px $bnb-dark;
  
    object-position: center;
    object-fit: cover;
    border-radius: 0.75rem;
    background-position: center;
  }

  .fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bnb-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: pointer;
  }

  .fullscreen-image-container {
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }

  .fullscreen-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.map_text {
  color: $bnb-dark;
}


.detail_card{
  background-color: $bnb-transparent;
  color: $bnb-light;
  box-shadow: 1px 3px 8px $bnb-dark;
  transition: 0.2s;
  &:hover{
    box-shadow: 3px 5px 10px $bnb-dark;
    background-color: $bnb-semi-transparent;

  }
}

.img_size{
  max-height: 800px;
  object-fit: cover;
  min-width: 100%;
}

.card_show {
  color: $bnb-dark;
  height: 100%;
  //background-color: $bnb-primary;
  border-radius: 0.75rem;
  box-shadow: 1px 3px 8px rgba(48, 48, 48, 0.4);

  .ul_details {
    line-height: 2rem;
  }

  .hr_margin {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.col_message {

  .card_message {
    box-shadow: 1px 3px 8px rgba(48, 48, 48, 0.4);
    border-radius: 0.75rem;
    color: $bnb-dark;
    //background-color: $bnb-primary;

    input {
      background-color: rgb(246, 246, 234);
      border: none;
    }

    textarea {
      background-color: rgb(246, 246, 234);
      border: none;
    }

  }
}

.card_maps {
  box-shadow: 1px 3px 8px rgba(48, 48, 48, 0.4);
  border-radius: 0.75rem;

  #map {
    border-radius: 0.75rem;
  }
}

.full_adress {
  color: $bnb-dark ;
  background-color: transparent;
}

.marker-border {
  background-color: rgb(201, 72, 12);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.list_size{
  max-height: 600px;
}
.text_color{
  color: $bnb-light;
}

.message_card{
  position: sticky;
  top: 1rem;
  right: 0;
 margin-bottom: 1rem;
}