@import "./variables.scss";

/* *{
    border: 1px solid black;
} */

body {
    font-family: "Open Sans", sans-serif;

    background-color: $bnb-light;
    background-image: url("/bg_wave_green.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.back_btn {
    background-color: $bnb-dark;
    color: $bnb-light;
    border: 2px solid $bnb-accent;
    padding: 0.5rem 1.2rem;
    transition: 0.25s all ease-in-out;
    border-radius: 0.75rem;

    &:hover {
        background-color: $bnb-accent;
        color: $bnb-dark;
        // scale: 1.2;
        scale: 1.08;
    }
}

.hr_margin {
    margin-left: 8rem;
    margin-right: 8rem;
}

.bg_text {
    background-color: rgba(0, 0, 0, 0.18);
}

.text_bnb_light {
    color: $bnb-light;
}

// a {
//     text-decoration: none;
//     color: $bnb-dark;
// }