@import "./variables";

// .my_dashboard {
//     position: absolute;
// }

// .dashboard_bg {
//     background-image: url("../../storage/app/public/internal/bg_wave.svg");

//     background-repeat: no-repeat;
//     background-size: cover;
//     min-height: 100vh;
// }

// .container_z_index {
//     position: absolute;
//     top: 10px;
// }

// .col_bg {
//     background-color: $bnb-light;
// }

.user_name {
    font-size: 2rem;
    font-weight: 800;
}
// .navbar {
//     position: sticky;
//     z-index: 100;
//     background-color: $bnb-light;
// }
.navbar-nav {
    a {
        color: $bnb-dark;
        text-decoration: none;
    }
}

.sidebar_menu {
    background-color: $bnb-light;
    border-radius: 0.75rem;
}

.offcanvas {
    background-color: $bnb-light;
}

.offcanvas_navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 60px;
    background-color: rgba($bnb-primary, 1);

    .logo_wrapper {
        height: 120px;
    }
}

.offcanvas_button {
    // background-color: $bnb-light;
    color: $bnb-dark;
    border: none;
    border-radius: 0.75rem;
    &:hover {
        // background-color: transparent;
        color: $bnb-accent;
    }
}

.offcanvas-body,
.sidebar_menu ul {
    margin-bottom: 0;

    li {
        padding: 0.5rem;
        list-style: none;
        width: 100%;
        border-bottom: 0.15rem solid transparent;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        transition: 0.25s border-bottom ease-in-out;
        a {
            color: $bnb-dark;
            text-decoration: none;
        }
        &:hover {
            a {
                // color: $bnb-light;
            }
            // color: $bnb-light;
            border-bottom: 0.15rem solid $bnb-primary;
            // border-radius: 0.25rem;
        }
    }
}
