@import "./variables";

.search_box_home {
  height: 60px;
  padding: 1rem;
  width: 75%;
  background: $bnb-primary;
  position: relative;
  bottom: 1rem;
  box-shadow: 0 2px 6px $bnb-dark;
}

.input {
  padding: 0.5rem 1rem;
  border: none;
}

.search_icon {
  color: $bnb-light;
}

.card-img {
  height: 100%;
  
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.card-title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.card-body {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-body {
  opacity: 1;
}

.card-text {
  color: $bnb-light;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.back_btn {
  background-color: $bnb-dark;
  color: $bnb-light;
  padding: 0.5rem 1.2rem;
  transition: 0.25s all ease-in-out;
  border-radius: 0.75rem;
  &:hover {
    background-color: $bnb-accent;
    color: $bnb-dark;
    // scale: 1.2;
    scale: 1.08;
  }
}

.back_btn_card {
  background-color: $bnb-light;
  color: $bnb-dark;
  padding: 0.5rem 1.2rem;
  transition: 0.25s all ease-in-out;
  border-radius: 0.75rem;
  &:hover {
    background-color: $bnb-accent;
    color: $bnb-dark;
    // scale: 1.2;
    scale: 1.08;
  }
}

.most_header {
  font-weight: $bnb-w-bold;
  font-size: 1.6rem;
}

.p_top{
  padding-top: 5px;
}

.margin_negative {
  margin-right: -3rem;
  margin-bottom: 0.5rem;
}

.margin_negative_start {
  margin-left: -3rem;
  margin-top: 10px;
}

.paragraph{
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.my_card {
  box-shadow: 1px 3px 8px rgba($bnb-dark, 0.4);
  min-height: 200px;
  aspect-ratio: 1.8 / 1.1;
}

.img-wrapper-jumbo {
  overflow: hidden;

  img {
    width: 100%;
  }
}

.row_jumbo {
  max-width: 100vw;
}

.dashboard_jumbotron {
  background-color: $bnb-light;
  background-image: url("/banner-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_bottom{
  aspect-ratio: 4;
}

.max_height{
  max-height: 300px;
}




@media screen and (max-width: 768px) {
 .small_display{
  display: none;
 }

 .bg_text{
   h1{
    font-size: 1.4rem;
   }
   p{
    font-size: 1rem;
   }
 }
}

/* on scroll effect */

#section_home{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.section_small{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

#section_home .animate{
  opacity: 0;
  filter: blur(5px);
  transition: 0.6s;
}

#section_home.show_animate .animate{
  opacity: 1;
  filter: blur(0);
}

.sec_1 .animate{
  transform: translateY(-150%);
}

.sec_1.show_animate .animate{
  transform: translateY(0);
}

.sec_2 .animate{
  transform: translateX(-150%);

}

.sec_2.show_animate .animate{
  transform: translateX(0);
}