@import "./variables";

.search_box {
    height: 60px;
    padding: 1rem;
    width: 75%;
    background: $bnb-primary;
    position: relative;
    bottom: 1rem;
}

.search_input{
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
}



.search_icon{
    color: $bnb-light;
}
