$bnb-tertiary: #dc643c;
$bnb-primary: #72a5aa;
$bnb-secondary: #eebba5;
$bnb-accent: #f8d07c;
$bnb-light: #f6f6ea;
$bnb-dark: #303030;
$bnb-darker: #000;
$bnb-info: #8cc0de;
$bnb-transparent: #18181864;
$bnb-semi-transparent: #18181896;

$bnb-xs: 0.6rem;
$bnb-sm: 0.8rem;
$bnb-md: 1rem;
$bnb-lg: 1.2rem;
$bnb-xl: 1.4rem;
$bnb-xxl: 1.6rem;

$bnb-w-light: 300;
$bnb-w-regular: 400;
$bnb-w-semibold: 600;
$bnb-w-bold: 800;
