$bnb-tertiary: #DC643C;
$bnb-primary: #72A5AA;
$bnb-secondary: #EEBBA5;
$bnb-accent: #F8D07C;
$bnb-light: #F6F6EA;
$bnb-dark: #303030;

$bnb-xs: .6rem;
$bnb-sm: .8rem;
$bnb-md: 1rem;
$bnb-lg: 1.2rem;
$bnb-xl: 1.4rem;
$bnb-xxl: 1.6rem;

$bnb-w-light: 300;
$bnb-w-regular: 400;
$bnb-w-semibold: 600;
$bnb-w-bold: 800;